- model_class = DestItiHeader
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:dest_iti_name) + ':'
  %br
  = @dest_iti_header.dest_iti_name
%p
  %strong= model_class.human_attribute_name(:destination_id) + ':'
  %br
  = @dest_iti_header.destination_id
%p
  %strong= model_class.human_attribute_name(:day_number) + ':'
  %br
  = @dest_iti_header.day_number

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), dest_iti_headers_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_dest_iti_header_path(@dest_iti_header), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), dest_iti_header_path(@dest_iti_header), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
