= simple_form_for @vc_registration, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :address, :as => :text
  = f.input :city
  = f.input :state
  = f.input :country
  = f.input :comments, :as => :text
  = f.input :preferred_neighborhood, :as => :text
  = f.input :planning
  = f.input :booking
  = f.input :preferred_locations, :as => :text
  = f.input :lphone
  = f.input :mphone
  = f.input :email
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), vc_registrations_path, :class => 'btn'
