.row
  .span10.offset1
    .progress.progress-info
      #progress-bar.bar{:style => "width: 33%;"}
.container{:style => 'padding:0px;'}
  .vc-reg.span5.offset3
    = simple_form_for @vc_registration, :html => { :class => 'form-horizontal'} do |f|
      #personal-information
        %h2 Personal Information
        /= f.input :name
        = f.input :address_1, :as => :text
        = f.input :address_2, :as => :text
        = f.input :city
        = f.input :state
        = f.input :country
        .form-actions
          %a.btn.pull-right{:href => '#', :class => 'btn btn-primary proceed'} Proceed
      #professional-details{:style => 'display:none'}
        %h2 Professional Details
        = f.input :preferred_neighborhood, :as => :text
        = f.input :planning
        = f.input :booking
        = f.input :preferred_locations,  collection: Destination.all, :allow_blank => false, input_html: { "data-placeholder"=>"Select Destinations", class: 'chzn-select' ,:multiple => true }
        = f.input :comments, :as => :text
        .form-actions
          %a.btn.pull-left{:href => '#', :class => 'btn back'} Back
          %a.btn.pull-right{:href => '#', :class => 'btn btn-primary proceed'} Proceed
      #contact-information{:style => 'display:none'}
        %h2 Contact Information
        = f.input :lphone
        = f.input :mphone
        / = f.hidden_field :user_id, current_user.id
        /= f.input :email
        .form-actions
          %a.btn.pull-left{:href => '#', :class => 'btn back'} Back
          = link_to t('.cancel', :default => t("helpers.links.cancel")), root_path, :class => 'btn pull-left'
          = f.button :submit, "Register", :class => 'btn-primary pull-right'