= simple_form_for @consultant_customer_destination, :html => { :class => 'form-horizontal' } do |f|
  = f.input :vacation_consultant_id
  = f.input :customer_id
  = f.input :cust_iti_header_id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), consultant_customer_destinations_path, :class => 'btn'
