= simple_form_for @consultant_customer_destination, :html => { :class => 'form-horizontal' } do |f|
  = f.association :vacation_consultant, :label_method => :name
  = f.association :customer, :label_method => :name
  = f.association :cust_iti_header, :label_method => :cust_iti_name
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), consultant_customer_destinations_path, :class => 'btn'
