%h2 Crop profile picture
= stylesheet_link_tag "jquery.Jcrop"
= javascript_include_tag "jquery.Jcrop.min"
:javascript
  $(function() {
    $('#cropbox').Jcrop({
      onChange: update_crop,
      onSelect: update_crop,
      setSelect: [0, 0, 500, 500]
    });
  });

  function update_crop(coords) {
    var rx = 150/coords.w;
    var ry = 180/coords.h;
    $('#preview').css({
      width: Math.round(rx * #{@vacation_consultant.profile_picture_geometry(:large).width}) + 'px',
      height: Math.round(ry * #{@vacation_consultant.profile_picture_geometry(:large).height}) + 'px',
      marginLeft: '-' + Math.round(rx * coords.x) + 'px',
      marginTop: '-' + Math.round(ry * coords.y) + 'px'
    });
    var ratio = #{@vacation_consultant.profile_picture_geometry(:original).width} / #{@vacation_consultant.profile_picture_geometry(:large).width};
    $("#crop_x").val(Math.round(coords.x * ratio));
    $("#crop_y").val(Math.round(coords.y * ratio));
    $("#crop_w").val(Math.round(coords.w * ratio));
    $("#crop_h").val(Math.round(coords.h * ratio));
  }
.container{:style => 'padding:0px'}
  %br
  %br
  .row
    .span7
      #large-image{:style => 'margin-left:150px'}
        = image_tag @vacation_consultant.profile_picture.url(:large), :id => "cropbox"
    .span4
      %h4 Preview:
      %div{:style => "width:150px; height:180px; overflow:hidden"}
        = image_tag @vacation_consultant.profile_picture.url(:large), :id => "preview"
  .row
    .span12
      = simple_form_for @vacation_consultant do |f|
        - for attribute in [:crop_x, :crop_y, :crop_w, :crop_h]
          = f.hidden_field attribute, :id => attribute
        .form-actions
          = f.submit "Crop"
