%title
  Unwinders | Pick your planner
= content_for :menu do
  .container
    %h2.branch_name A D Vishnu Prasad
%center.span3.well
  %form.form-horizontal{:id => 'search_vc_form'}
    .control-group
      %input{:type => 'hidden', :name => 'cust_req_id', :value => params[:cust_req_id]}
      %input#keyword{:name => 'keyword', :placeholder => "Name/Email/Destination/Poa", :type => "text"}
        / %input#keyword{:name => 'email', :placeholder => "Name/Email/Destination...", :type => "text"}
      %br
      %br
      %center
        %button#search_vc.btn{:type => "submit"} Search
  %hr
    Filter Section
    / .control-group
    /   %label.control-label{:for => "neighborhood"} Neighborhood
    /   .controls
    /     %input#inputPassword{:placeholder => "", :type => "text"}
    .control-group
      .controls
.span8
  %table.table.table-hover.table-striped.search_vc_table{:id => params[:cust_req_id]}
    %tbody
      -if @vcs.empty?
        No Results Found
      -else
        %thead
          %tr
            = "Found #{pluralize(@vcs_solr_response.total,'result')} for the keyword #{params[:keyword]}"
        .pull-right
          = link_to 'Assign Selected', '#', :class => ['btn', '', 'select-vcs'], :remote => true
          / = link_to 'Assign All', '#', :class => ['btn', '', 'select-all-vcs'], :remote => true
        -@vcs.each_with_index do |vc,index|
          %tr{:id => "#{vc.id}"}
            %td.cb
              %input{:type => "checkbox", :value => "#{vc.id}"}/
            %td
              =image_tag "unwinders/divya.jpg"
              / %img{:src => '/assets/unwinders/divya.jpg'}
            %td
              = link_to vc.name, vc_unwinders_path(vc.id)
              %br
              = "As a vacation consultant, #{vc.name} living in #{vc.city}, is happy to engage with customers living in neighborhoods #{vc.preferred_neighborhood} of the Bangalore to offer planning & booking services.Customers who have signed up with #{vc.name} for their vacation requirements in the past, have this to say. <Click here> for testimonials. Of the destinations that #{vc.name} has planned, the popular ones have been"
              - l = vc.preferred_locations.length
              %b
                - vc.preferred_locations.each_with_index do |d,k|
                  = Destination.find(d.to_i).name
                  - if k == (l-1)
                    = "."
                  - else
                    = ","
            / %td=vc.name
            / %td=vc.email
  /= link_to 'Select', '#', :class => ['btn', 'btn-primary', 'select-vcs'], :remote => true

