%title
  Unwinders
  |
  = "#{@vacation_consultant.name}"
.container{:style => 'background:white;padding:0px'}
  %ul.navigation
    %li
      %a{:title => "Home", :style => "background-image:url(#{asset_path("unwinders/home.jpg")});background-size:100%;background-repeat:no-repeat", :href => user_unwinders_path}
    %li
      %a.active{:title => "Personal Information", :style => "background-image:url(#{asset_path("unwinders/personal_information.jpg")});background-size:100%;background-repeat:no-repeat", :href => '#'}
    %li
      %a{:title => "Campaign Manager", :style => "background-image:url(#{asset_path("unwinders/request.jpg")});background-size:100%;background-repeat:no-repeat", :href => my_campaigns_vacation_consultant_path(:id => current_user.vacation_consultant.id)}
    %li
      %a{:title => "History", :style => "background-image:url(#{asset_path("unwinders/history.jpg")});background-size:100%;background-repeat:no-repeat", :href => '#'}
    / %li
    /   %a{:title => "Edit Info", :style => "background-image:url(#{asset_path("unwinders/edit_info.jpg")});background-size:100%;background-repeat:no-repeat", :href => edit_vacation_consultant_path(current_user.vacation_consultant)}
  - model_class = VacationConsultant
  #pro{:style => 'padding:20px;background:white'}
    %h2 Personal Information
    %ul.account-info
      %li
        %label= model_class.human_attribute_name(:name) + ':'
        %span
          &nbsp;
          = @vacation_consultant.name
      %li
        %label= model_class.human_attribute_name(:address_1) + ':'
        %span
          &nbsp;
          = @vacation_consultant.address_1
      %li
        %label= model_class.human_attribute_name(:address_2) + ':'
        %span
          &nbsp;
          = @vacation_consultant.address_2
      %li
        %label= model_class.human_attribute_name(:city) + ':'
        %span
          &nbsp;
          = @vacation_consultant.city
      %li
        %label= model_class.human_attribute_name(:state) + ':'
        %span
          &nbsp;
          = @vacation_consultant.state
      %li
        %label= model_class.human_attribute_name(:country) + ':'
        %span
          &nbsp;
          = @vacation_consultant.country
      %li
        %label= model_class.human_attribute_name(:lphone) + ':'
        %span
          &nbsp;
          = @vacation_consultant.lphone
      %li
        %label= model_class.human_attribute_name(:mphone) + ':'
        %span
          &nbsp;
          = @vacation_consultant.mphone
      / %li
      /   %label= model_class.human_attribute_name(:email) + ':'
      /   %span
      /     &nbsp;
      /     = @vacation_consultant.email
      %li
        %label= model_class.human_attribute_name(:planning) + ':'
        %span
          &nbsp;
          = @vacation_consultant.planning
      %li
        %label= model_class.human_attribute_name(:booking) + ':'
        %span
          &nbsp;
          = @vacation_consultant.booking
      %li
        %label= model_class.human_attribute_name(:preferred_neighborhood) + ':'
        %span
          &nbsp;
          = @vacation_consultant.preferred_neighborhood
      %li
        %label= model_class.human_attribute_name(:preferred_locations) + ':'
        %span
          &nbsp;
          = @vacation_consultant.preferred_locations
      %li
        %label= model_class.human_attribute_name(:comments) + ':'
        %span
          &nbsp;
          = @vacation_consultant.comments

      .form-actions
        = link_to "Change password", edit_user_registration_path
        = link_to "Edit", edit_vacation_consultant_path(@vacation_consultant), :class => 'btn btn-info'