= form_for [@commentable, @comment], :remote => true do |f|
  = f.hidden_field :parent_id
  = hidden_field_tag :index, index
  %p
    = f.label :content, "New comment", :style => 'color:black'
    %br
    = f.text_area :content
  %p
    = f.submit "Post Comment", :class => 'btn btn-success'
