= simple_form_for @iti_header, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :iti_type, :collection => ItiHeader::ITI_TYPE, :include_blank => false
  = f.association :vacation_type, :label_method => :vac_type, :include_blank => false
  = f.input :iti_start_date
  = f.input :iti_end_date
  = f.input :season
  = f.input :duration, :hint => 'In hours'
  = f.input :no_of_people
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), iti_headers_path, :class => 'btn'
