= simple_form_for @iti_header, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :iti_type, :class => 'control-label'
    .controls
      = f.text_field :iti_type, :class => 'text_field'
  .control-group
    = f.label :vacation_type_id, :class => 'control-label'
    .controls
      = f.text_field :vacation_type_id, :class => 'text_field'
  .control-group
    = f.label :iti_start_date, :class => 'control-label'
    .controls
      = f.text_field :iti_start_date, :class => 'text_field'
  .control-group
    = f.label :iti_end_date, :class => 'control-label'
    .controls
      = f.text_field :iti_end_date, :class => 'text_field'
  .control-group
    = f.label :season, :class => 'control-label'
    .controls
      = f.text_field :season, :class => 'text_field'
  .control-group
    = f.label :duration, :class => 'control-label'
    .controls
      = f.text_field :duration, :class => 'text_field'
  .control-group
    = f.label :no_of_people, :class => 'control-label'
    .controls
      = f.text_field :no_of_people, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), iti_headers_path, :class => 'btn'
