- model_class = ItiHeader
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @iti_header.name
%p
  %strong= model_class.human_attribute_name(:iti_type) + ':'
  %br
  = @iti_header.iti_type
%p
  %strong= model_class.human_attribute_name(:vacation_type_id) + ':'
  %br
  = @iti_header.vacation_type_id
%p
  %strong= model_class.human_attribute_name(:iti_start_date) + ':'
  %br
  = @iti_header.iti_start_date
%p
  %strong= model_class.human_attribute_name(:iti_end_date) + ':'
  %br
  = @iti_header.iti_end_date
%p
  %strong= model_class.human_attribute_name(:season) + ':'
  %br
  = @iti_header.season
%p
  %strong= model_class.human_attribute_name(:duration) + ':'
  %br
  = @iti_header.duration
%p
  %strong= model_class.human_attribute_name(:no_of_people) + ':'
  %br
  = @iti_header.no_of_people

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), iti_headers_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_iti_header_path(@iti_header), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), iti_header_path(@iti_header), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
