- model_class = ItiCustDestPoaDetail
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
=will_paginate(@iti_cust_dest_poa_details)
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:cust_iti_detail_id)
      %th= model_class.human_attribute_name(:dest_iti_detail_id)
      %th= model_class.human_attribute_name(:points_of_attraction_id)
      %th= model_class.human_attribute_name(:preferred_time_of_arrival)
      %th= model_class.human_attribute_name(:preferred_time_of_departure)
      %th= model_class.human_attribute_name(:day_number)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @iti_cust_dest_poa_details.each do |iti_cust_dest_poa_detail|
      %tr
        %td= link_to iti_cust_dest_poa_detail.id, iti_cust_dest_poa_detail_path(iti_cust_dest_poa_detail)
        %td= iti_cust_dest_poa_detail.cust_iti_detail.cust_iti_header.cust_iti_name rescue 'NA'
        %td= iti_cust_dest_poa_detail.dest_iti_detail.dest_iti_header.dest_iti_name rescue 'NA'
        %td= iti_cust_dest_poa_detail.points_of_attraction.name rescue 'NA'
        %td= iti_cust_dest_poa_detail.preferred_time_of_arrival.strftime("%I:%M %p")
        %td= iti_cust_dest_poa_detail.preferred_time_of_departure.strftime("%I:%M %p")
        %td= iti_cust_dest_poa_detail.day_number
        / %td= iti_cust_dest_poa_detail.created_at
        %td
          / = link_to t('.edit', :default => t("helpers.links.edit")), edit_iti_cust_dest_poa_detail_path(iti_cust_dest_poa_detail), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), iti_cust_dest_poa_detail_path(iti_cust_dest_poa_detail), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'