- model_class = ItiCustDestPoaDetail
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:cust_iti_detail_id) + ':'
  %br
  = @iti_cust_dest_poa_detail.cust_iti_detail_id
%p
  %strong= model_class.human_attribute_name(:dest_iti_detail_id) + ':'
  %br
  = @iti_cust_dest_poa_detail.dest_iti_detail_id
%p
  %strong= model_class.human_attribute_name(:points_of_attraction_id) + ':'
  %br
  = @iti_cust_dest_poa_detail.points_of_attraction_id
%p
  %strong= model_class.human_attribute_name(:preferred_time_of_arrival) + ':'
  %br
  = @iti_cust_dest_poa_detail.preferred_time_of_arrival
%p
  %strong= model_class.human_attribute_name(:preferred_time_of_departure) + ':'
  %br
  = @iti_cust_dest_poa_detail.preferred_time_of_departure
%p
  %strong= model_class.human_attribute_name(:comments) + ':'
  %br
  = @iti_cust_dest_poa_detail.comments

= link_to "Back to Itinerary", '#'
%br
= nested_comments @comments
= render "comments/form"

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), iti_cust_dest_poa_details_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_iti_cust_dest_poa_detail_path(@iti_cust_dest_poa_detail), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), iti_cust_dest_poa_detail_path(@iti_cust_dest_poa_detail), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
