= simple_form_for @poa_type, :html => { :class => 'form-horizontal' } do |f|
  = f.input :poa_type
  = f.input :time_can_be_spent
  = f.input :comments
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), poa_types_path, :class => 'btn'
