= content_for :menu do
  .container
    %h2.branch_name Strata Holidays
.container
  .action
    = image_tag("jb/6.jpg")

    %p.intro There were several Mahars first, and then at least twenty awe-inspiring pterodactyls—thipdars, they are called within Pellucidar.
    = render 'top_destinations'
  .map
    #inner-details{:style => 'display:none'}
    #infovis

  .refer

  .info
    = render 'iti_in_progress'
  .newsletter
    - if @featured_newsletter
      %div.well
        %span3
        .ic_container#jbconnect
          %a{:href => "/newsletters/current", :class => "jbconnect_link", :target => "_blank"}
            = image_tag("http://image.issuu.com/#{@featured_newsletter.documentid}/jpg/page_1_thumb_large.jpg", :border=>0, :class => "ic_img", :width => "236px", :height => "333px")
            #jbconnect_caption.ic_overlay{:style => "display:none;"}
            .ic_caption
              %p.ic_category= "READ ONLINE"
              %h3= "JustBooks Connect"
              %p.ic_text= @featured_newsletter.title


