%title
  Unwinders | Home
- if current_user.user_type == User::CUSTOMER
  #header-image
    .row
      .span4
        = render :partial => 'shared/request_iti'
      .span7
        %h1
          Strata Holidays
  #filler.filler-div
  .row
    .span12#main-content
      .row
        .span9
          .current_user_requests
            = render :partial => 'shared/current_user_requests'
        .span3
          = render :partial => 'shared/top_vc'
- elsif current_user.user_type == User::VC
  = render :partial => 'shared/vc_profile'
-else
  .span6.offset3
    .well{:style => 'margin-top:20px;text-align:center'}
      = link_to "Admin Page", "/admin"