%title
  Unwinders | Home
- if session[:user_role] == User::CUSTOMER
  #header-image
    .row
      .span4
        = render :partial => 'shared/request_iti'
      .span7
        %h1{:style => 'color:white'}
          Strata Holidays
  #filler.filler-div
  .row
    .span12#main-content
      .row
        .span9
          .current_user_requests
            = render :partial => 'shared/current_user_requests'
        .span3
          = render :partial => 'shared/top_vc'
- elsif session[:user_role] == User::VC
  = render :partial => 'shared/vc_profile'
-elsif session[:user_role] == User::ADMIN
  .span6.offset3
    .well{:style => 'margin-top:20px;text-align:center'}
      = link_to "Admin Page", "/admin"
- else
  -if current_user.vc_registration
    .span6.offset3
      .well{:style => 'margin-top:20px;text-align:center'}
        = link_to "Your application state is - #{current_user.vc_registration.status}", vc_registration_path(current_user.vc_registration)