%title
  Unwinders
  |
  = "#{@vc.name}"
.container{:style => 'background:white;padding:0px'}
  .action
    .span2
      =image_tag("#{asset_path("unwinders/vc_#{@vc.id}.jpg")}", :onerror => "this.src= 'https://s3.amazonaws.com/dev.justbooksclc.com/strata_holidays/default.jpg';", :style => 'width:150px;height:200px;', :class => 'img-polaroid')
    .span3
      #name{:style => 'font-weight:bold;font-size:32px;color:green;padding-top:30px'}
        = @vc.name
      %p.vc-bio{:style => 'text-align:justify'}
        As a vacation consultant, Divya is happy to engage with customers living in Bangalore to offer planning & booking services. Of the destinations that Divya has planned, the popular ones have been Switzerland, Andaman and Chikmagalur.
        / = "As a vacation consultant, #{@vc.name} living in #{@vc.city}, is happy to engage with customers living in neighborhoods #{@vc.preferred_neighborhood} of Bangalore to offer planning & booking services. Of the destinations that #{@vc.name} has planned, the popular ones have been"
        / - l = @vc.preferred_locations.length
        / - @vc.preferred_locations.each_with_index do |d,k|
        /   - if k == (l-1)
        /     - a = "."
        /   -else
        /     - a = ","
        /   = "#{Destination.find(d.to_i).name}#{a}"
        /   / - if k == (l-1)

        /   / - else
        /   /   ,
    .span5.pull-right{:style => 'padding-right:10px'}
      = render 'top_destinations'
  .row
    .span6
      .box.testimonials{:style => 'margin-top:15px;margin-left:25px;margin-bottom:20px'}
        .title{:style => 'background:#ffcc11;font-size:12pt'}
          Customer Testimonials
        .content{:style => 'background:white;min-height:290px'}
          -if @vc.testimonials.present?
            -@vc.testimonials.each do |t|
              %a{:href => "#{asset_path("unwinders/testimonial_#{t.customer_id}.jpg")}", :rel => "facebox"}
                =image_tag("#{asset_path("unwinders/testimonial_#{t.customer_id}.jpg")}", :onerror => "this.src= 'https://s3.amazonaws.com/dev.justbooksclc.com/strata_holidays/default.jpg';", :style => 'width:50px;height:50px;float:left;margin-top:5px')
              %blockquote
                %p.vc-bio{:style => 'font-size:13px;color:black;margin-top:-10px'}
                  = t.content.html_safe
              - if t.customer_id.present?
                #quote-by.vc-bio.pull-right
                  \-
                  = Customer.find(t.customer_id).name
              %br
          -else
            No Testimonials to show
    .span6{:style => 'width:550px'}
      .box{:style => 'margin-top:15px;margin-bottom:20px'}
        .title{:style => 'background:#ffcc11;font-size:12pt'}
          Campaigns
        .content{:style => 'background:white;min-height:290px'}
          #my-slideshow
            %ul.bjqs
              - @campaigns.each do |campaign|
                %li
                  %a{:href => campaign_path(campaign)}
                    =image_tag("#{campaign.image.url}", :onerror => "this.src= 'https://s3.amazonaws.com/dev.justbooksclc.com/strata_holidays/default.jpg';", :style => 'width:550px;height:402px;float:left;')
            / .map.box{:style => 'margin-top:15px;margin-left:60px;padding-bottom:40px;margin-bottom:30px'}
    / .map.box{:style => 'margin-top:15px;margin-left:60px;padding-bottom:40px;margin-bottom:30px'}
    /   .title{:style => 'background:#ffcc11;font-size:12pt'}
    /     See Points of Attraction in Destinations
    /   .content{:style => 'background:#fff1bb'}
    /     #inner-details{:style => 'display:none'}
    /     #infovis{:style => 'height:290px'}

/ :javascript
/   $(document).ready(function ()
/   {
/     Sessionapp.ChartData["#{"infovis"}"] = #{raw generate_jit_tree().to_json};
/     JitTree.showJit();
/   });
