%title
  Unwinders
  |
  = "#{@vc.name}"
.container{:style => 'background:#fffcee;padding:0px'}
  .action
    .span2{:style => 'border-right:1px solid;border-color:#bbb; padding-right:25px;height:250px'}
      =image_tag("#{asset_path("unwinders/vc.png")}", :onerror => "this.src= 'https://s3.amazonaws.com/dev.justbooksclc.com/strata_holidays/default.jpg';")
    .span3
      #name{:style => 'font-weight:bold;font-size:32px;color:green;padding-top:30px'}
        = @vc.name
      %br
      #city{:style => 'font-size:15px;color:black'}
        = @vc.city
      %br
      .vc-hr
      %br
        Preferred Neighborhoods  :
        = @vc.preferred_neighborhood
      %br
        Booking:
        -if @vc.booking?
          Yes
        -else
          No
      %br
        Planning:
        -if @vc.booking?
          Yes
        -else
          No

    .span5.pull-right{:style => 'padding-right:5px'}
      = render 'top_destinations'
  .row
    .span6.box{:style => 'margin-top:15px;margin-left:100px;'}
      .title{:style => 'background:#ffcc11;font-size:12pt'}
        Customer Testimonials
      .content{:style => 'background:#fff1bb;min-height:290px'}
        -if @vc.testimonials.present?
          -@vc.testimonials.each do |t|
            %blockquote
              %p
                = t.content
            #quote-by{:style => 'padding-left:350px;margin-top:-50px'}
              \-
              = Customer.find(t.customer_id).name
        -else
          No Testimonials to show
    .map.box{:style => 'margin-top:15px;margin-left:60px;padding-bottom:40px;margin-bottom:30px'}
      .title{:style => 'background:#ffcc11;font-size:12pt'}
        See Points of Attraction in Destinations
      .content{:style => 'background:#fff1bb'}
        #inner-details{:style => 'display:none'}
        #infovis{:style => 'height:290px'}

:javascript
  $(document).ready(function ()
  {
    Sessionapp.ChartData["#{"infovis"}"] = #{raw generate_jit_tree().to_json};
    JitTree.showJit();
  });