- model_class = DestItiDetail
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
=will_paginate(@dest_iti_details)
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:dest_iti_header_id)
      %th= model_class.human_attribute_name(:points_of_attraction_id)
      %th= model_class.human_attribute_name(:day_numer)
      %th= model_class.human_attribute_name(:comments)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @dest_iti_details.each do |dest_iti_detail|
      %tr
        %td= link_to dest_iti_detail.id, dest_iti_detail_path(dest_iti_detail)
        %td= dest_iti_detail.dest_iti_header.dest_iti_name + "-" + dest_iti_detail.dest_iti_header.destination.name rescue ''
        %td= dest_iti_detail.points_of_attraction.name rescue ''
        %td= dest_iti_detail.dest_iti_header.day_number
        %td= dest_iti_detail.comments
        %td= dest_iti_detail.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_dest_iti_detail_path(dest_iti_detail), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), dest_iti_detail_path(dest_iti_detail), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_dest_iti_detail_path, :class => 'btn btn-primary'

