= form_for @property, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :destination_id, :class => 'control-label'
    .controls
      = f.text_field :destination_id, :class => 'text_field'
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :type, :class => 'control-label'
    .controls
      = f.text_field :type, :class => 'text_field'
  .control-group
    = f.label :official_rating, :class => 'control-label'
    .controls
      = f.text_field :official_rating, :class => 'text_field'
  .control-group
    = f.label :customer_rating, :class => 'control-label'
    .controls
      = f.text_field :customer_rating, :class => 'text_field'
  .control-group
    = f.label :restaurent, :class => 'control-label'
    .controls
      = f.text_field :restaurent, :class => 'text_field'
  .control-group
    = f.label :pool, :class => 'control-label'
    .controls
      = f.text_field :pool, :class => 'text_field'
  .control-group
    = f.label :funzoze, :class => 'control-label'
    .controls
      = f.text_field :funzoze, :class => 'text_field'
  .control-group
    = f.label :comments, :class => 'control-label'
    .controls
      = f.text_field :comments, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), properties_path, :class => 'btn'
