.container{:style => 'background:#f0f0f0;padding-top:40px;padding-left:0px;padding-right:0px'}
  .action
    .span2{:style => 'border-right:1px solid;border-color:#bbb; padding-right:25px;height:250px'}
      =image_tag("#{asset_path("unwinders/vc.png")}", :onerror => "this.src= 'https://s3.amazonaws.com/dev.justbooksclc.com/strata_holidays/default.jpg';")
    .span3
      #name{:style => 'font-weight:bold;font-size:32px;color:green;padding-top:30px'}
        = current_user.vacation_consultant.name
      %br
      #city{:style => 'font-size:15px;color:black'}
        = current_user.vacation_consultant.city
      %br
      .vc-hr
    .span3
      .box
        .title Campaigns
        .content
          / = current_user.vacation_consultant.campaigns
          = link_to "New campaign", new_campaign_path
          %br
          = link_to "View my campaigns", my_campaigns_vacation_consultant_path(current_user.vacation_consultant)
  .row
    .span4.box
      .title
        Newly Assigned Requests
        .icon-envelope-alt.pull-right
      .content#cust-request
        - p @vc_assignments
        - @vc_assignments.where(:state => 'New').each do |vc_assign|
          .icon-fighter-jet
          New Request received from
          = link_to get_cust_iti_request_path(:id => vc_assign.cust_iti_request.id, :vc_assign_id => vc_assign.id) , :remote => true, :class => "get_cust_iti_request" do
            %b
              = vc_assign.cust_iti_request.customer.name
            for
            %b
              = vc_assign.cust_iti_request.destinations.reject(&:empty?).map {|s| Destination.find(s).name}.compact.join(", ") rescue 'NA'
          %hr
    .span4.box
      .title
        In Progress
        .icon-beaker.pull-right
      .content
        - @vc_assignments.where(:state => 'InProcess').each do |vc_assign|
          .icon-fighter-jet
          = link_to get_cust_iti_request_path(:id => vc_assign.cust_iti_request.id, :vc_assign_id => vc_assign.id) , :remote => true, :class => "get_cust_iti_request" do
            %b
              = vc_assign.cust_iti_request.customer.name
            for
            %b
              = vc_assign.cust_iti_request.destinations.reject(&:empty?).map {|s| Destination.find(s).name}.compact.join(", ") rescue 'NA'
          %hr
    .span4.box
      .title
        Completed
        .icon-check.pull-right
      .content
        - @vc_assignments.where(:state => 'Done').each do |vc_assign|
          .icon-fighter-jet
          = link_to get_cust_iti_request_path(:id => vc_assign.cust_iti_request.id, :vc_assign_id => vc_assign.id) , :remote => true, :class => "get_cust_iti_request" do
            %b
              = vc_assign.cust_iti_request.customer.name
            for
            %b
              = vc_assign.cust_iti_request.destinations.reject(&:empty?).map {|s| Destination.find(s).name}.compact.join(", ") rescue 'NA'
          %hr
#my-vc-modal.modal.hide.fade{"tabindex" => "-1"}
  .modal-header
    %a.close{"data-dismiss" => "modal"} x
    %h3 Request Summary
  .modal-body
    .modal-vc-rec-body
  .modal-footer
    /= link_to "Done" , edit_vc_assignment(:status => 'in_process') , :class => 'btn btn-primary', "data-dismiss" => "modal"
    %a.btn{"data-dismiss" => "modal", :href => "#"} Close
