.row
  - @vcs.each do |vc|
    .span2
      .vc-profile-pic{:id => "hover_box_pol", :style => 'width:150px;height:180px;'}
        =image_tag("#{asset_path("unwinders/vc_#{vc.id}.jpg")}", :onerror => "this.src= 'https://s3.amazonaws.com/dev.justbooksclc.com/strata_holidays/default.jpg';", :style => 'width:150px;height:180px;')
      .contenthover{:id => "pol"}
        #vc-name{:style => 'background-color:black;color:white;font-weight:bold;font-size:20px;margin:20px 0px 15px 0px'}
          = vc.name
        = vc.city
        %br
        - (0..Random.new.rand(2..4)).each do |no|
          %i.icon-star{:style => 'color:#eeee09'}
        %br
        = link_to "View Profile", vc_unwinders_path(:id => vc.id), :class => 'btn btn-small btn-success'
        / = link_to "#{vc.name.titleize}", vc_unwinders_path(:id => vc.id)
        / %br
        / Work Profile: Vacation Consultant
        / %br
        / Reach her at 080 67683816
        / %br
