#current-requests.span7{:style => 'padding:20px;background:white'}
  %h2 Requests
  = will_paginate @current_user_requests, :class => 'pagination pagination-centered'
  - @current_user_requests.each do |cust|
    %hr
    .activity-header
      = "You have  requested a package for #{cust.destinations.reject(&:empty?).map {|s| Destination.find(s).name}.compact.join(", ")}  from #{cust.start_date} to #{cust.end_date} as a #{cust.dest_type} destination for #{cust.vacation_type.vac_type}."
      / =link_to "A D Vishnu Prasad" , "#"
      / = "requested a package on #{cust.created_at.strftime("%d-%B-%Y - %I:%M %p") }"
    %h4 Details
    %ul.account-info
      %li
        %label Destination Type
        %span
          &nbsp;
          = cust.dest_type
      %li
        %label Destinations
        %span
          &nbsp
          =cust.destinations.reject(&:empty?).map {|s| Destination.find(s).name}.compact.join(", ") rescue 'NA'
      %li
        %label Vacation Type
        %span
          &nbsp;
          - if !cust.vacation_type.nil?
            =cust.vacation_type.vac_type rescue 'NA'
      %li
        %label Start Date
        %span
          &nbsp;
          =cust.start_date.strftime("%d-%m-%y") rescue "NA"
      %li
        %label End Date
        %span
          &nbsp;
          =cust.end_date.strftime("%d-%m-%y") rescue "NA"
      %li
        %label No of People
        %span
          &nbsp;
          - if cust.no_of_children.present?
            =cust.no_of_adults + cust.no_of_children rescue "NA"
          - else
            =cust.no_of_adults rescue "NA"
      %li
        %label Created At
        %span
          &nbsp;
          =cust.created_at
      / =link_to "Request to All VC", '#', :class => ['btn btn-success']
      %br
      - unless cust.vc_assignments.empty?
        %li Assigned VCs for this request
        - cust.vc_assignments.map do |vc|
          = link_to "#{vc.vacation_consultant.name}", vc_unwinders_path(vc.vacation_consultant)
          |
        .pull-right
          = link_to "Click here for more info", cust_iti_request_path(:id => cust.id), :id => 'vc-assignment-info'
      -else
        To assign the above request to specific vacation consultants, please click assign to see our panel of vacation consultants.
        / .assign-vc.pull-right
        /   =link_to display_vcs_path, :remote => true, :method => :post, :class => 'btn' do
        /     Assign
        =link_to "/search_vcs?cust_req_id=#{cust.id}", :method => :get, :class => 'btn' do
          Assign
      %br