= simple_form_for @customer, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :address_1, :as => :text
  = f.input :address_2, :as => :text
  = f.input :city
  = f.input :state
  = f.input :country
  = f.input :lphone
  = f.input :mphone
  = f.input :comments, :as => :text
  .form-actions{:style => 'background:white'}
    = f.button :submit, "Update Information", :class => 'btn-info'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), customer_path(:id => @customer.id), :class => 'btn'
