%title
  Unwinders
  |
  History
%ul.navigation
  %li
    %a{:title => "Home", :style => "background-image:url(#{asset_path("unwinders/home.jpg")});background-size:100%;background-repeat:no-repeat", :href => user_unwinders_path}
  %li
    %a{:title => "Personal Information", :style => "background-image:url(#{asset_path("unwinders/personal_information.jpg")});background-size:100%;background-repeat:no-repeat", :href => customer_path(current_user.customer)}
  %li
    %a{:title => "Requests", :style => "background-image:url(#{asset_path("unwinders/request.jpg")});background-size:100%;background-repeat:no-repeat", :href => package_requests_customer_path(current_user.customer)}
  %li
    %a.active{:title => "History", :style => "background-image:url(#{asset_path("unwinders/history.jpg")});background-size:100%;background-repeat:no-repeat", :href => '#'}
  %li
    %a{:title => "Edit Info", :style => "background-image:url(#{asset_path("unwinders/edit_info.jpg")});background-size:100%;background-repeat:no-repeat", :href => edit_customer_path(current_user.customer)}

- if !@cust_iti_headers.present?
  .well.span5.offset3{:style => 'margin-top:100px;text-align:center'}
    %h2
      No trips to show.
      = link_to "Request", user_unwinders_path
      a package soon!
- else
  .container{:style => "margin-top:70px;background-image:url(#{asset_path("unwinders/footprints_s.jpg")});height:150px;padding:0px;background-repeat:repeat-x;text-align:center;width:100%;font-size:30pt;font-weight:bold"}
    #text-con.span5.offset3{:style => 'color:#27689b;padding-top:50px;background:white;padding-bottom:50px;text-align:center'}
      A trip down memory lane
      %br
  .portfolio
    %ul.grid
      - @cust_iti_headers.each do |h|
        %li
          %a{:href => history_cust_iti_header_path(:id => h.id)}
            .img-with-text
              %img{:src => "#{h.cust_iti_details.last.destination.image.url(:square) rescue nil}", :alt => "No image"}
              %p
                - last_index = h.cust_iti_details.length - 1
                - h.cust_iti_details.each_with_index do |d, ind|
                  - unless (ind == last_index)
                    = d.destination.name
                    \-
                  - else
                    = d.destination.name
                %br
                = h.trip_start_date.strftime("%d-%m-%y")
                to
                = h.trip_end_date.strftime("%d-%m-%y")