%title
  Unwinders
  |
  = "#{@customer.name}"
%ul.navigation
  %li
    %a{:title => "Home", :style => "background-image:url(#{asset_path("unwinders/home.jpg")});background-size:100%;background-repeat:no-repeat", :href => user_unwinders_path}
  %li
    %a.active{:title => "Personal Information", :style => "background-image:url(#{asset_path("unwinders/personal_information.jpg")});background-size:100%;background-repeat:no-repeat", :href => '#'}
  %li
    %a{:title => "Requests", :style => "background-image:url(#{asset_path("unwinders/request.jpg")});background-size:100%;background-repeat:no-repeat", :href => package_requests_customer_path(current_user.customer)}
  %li
    %a{:title => "History", :style => "background-image:url(#{asset_path("unwinders/history.jpg")});background-size:100%;background-repeat:no-repeat", :href => history_customer_path(current_user.customer)}
  %li
    %a{:title => "Edit Info", :style => "background-image:url(#{asset_path("unwinders/edit_info.jpg")});background-size:100%;background-repeat:no-repeat", :href => edit_customer_path(current_user.customer)}
#customer-profile.span6.offset3
  - model_class = Customer
  #profile{:style => 'padding-left:20px;padding-top:0px'}
    %h4.personal-info-header Personal Information
    %ul.account-info
      %li
        %label= model_class.human_attribute_name(:name) + ':'
        %span
          &nbsp;
          = @customer.name
      %li
        %label= model_class.human_attribute_name(:address_1) + ':'
        %span
          &nbsp;
          = @customer.address_1
      %li
        %label= model_class.human_attribute_name(:address_2) + ':'
        %span
          &nbsp;
          = @customer.address_2
      %li
        %label= model_class.human_attribute_name(:city) + ':'
        %span
          &nbsp;
          = @customer.city
      %li
        %label= model_class.human_attribute_name(:state) + ':'
        %span
          &nbsp;
          = @customer.state
      %li
        %label= model_class.human_attribute_name(:country) + ':'
        %span
          &nbsp;
          = @customer.country
      %li
        %label Landline:
        %span
          &nbsp;
          = @customer.lphone
      %li
        %label Mobile Number:
        %span
          &nbsp;
          = @customer.mphone

          / = link_to "Change password", edit_user_registration_path
  / .row
  /   .span11
  /     .current_user_requests{:style => 'margin-right:20px'}
  /       = render :partial => 'shared/current_user_requests'


