.container{:style => 'background:#f0f0f0;padding:0px'}
  - model_class = Customer
  #profile{:style => 'padding-left:20px;padding-top:80px'}
    %p
      %strong= model_class.human_attribute_name(:name) + ':'
      %br
      = @customer.name
    %p
      %strong= model_class.human_attribute_name(:address_1) + ':'
      %br
      = @customer.address_1
    %p
      %strong= model_class.human_attribute_name(:address_2) + ':'
      %br
      = @customer.address_2
    %p
      %strong= model_class.human_attribute_name(:city) + ':'
      %br
      = @customer.city
    %p
      %strong= model_class.human_attribute_name(:state) + ':'
      %br
      = @customer.state
    %p
      %strong= model_class.human_attribute_name(:country) + ':'
      %br
      = @customer.country
    %p
      %strong Landline:
      %br
      = @customer.lphone
    %p
      %strong Mobile Number:
      %br
      = @customer.mphone
    / %p
    /   %strong= model_class.human_attribute_name(:email) + ':'
    /   %br
    /   = @customer.email
    / %p
    /   %strong= model_class.human_attribute_name(:comments) + ':'
    /   %br
    /   = @customer.comments

    .form-actions
      = link_to t('.edit', :default => t("helpers.links.edit")), edit_customer_path(@customer), :class => 'btn'
      = link_to "Change password", edit_user_registration_path
    .row
      .span11
        .current_user_requests{:style => 'margin-right:20px'}
          = render :partial => 'shared/current_user_requests'


