- model_class = CustItiRequest
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:customer_id)
      %th= model_class.human_attribute_name(:dest_type)
      %th= model_class.human_attribute_name(:destinations)
      %th= model_class.human_attribute_name(:vacation_type_id)
      %th= model_class.human_attribute_name(:start_date)
      %th= model_class.human_attribute_name(:end_date)
      %th= model_class.human_attribute_name(:no_of_adults)
      %th= model_class.human_attribute_name(:no_of_children)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @cust_iti_requests.each do |cust_iti_request|
      %tr
        %td= link_to cust_iti_request.id, cust_iti_request_path(cust_iti_request)
        %td= cust_iti_request.customer_id
        %td= cust_iti_request.dest_type
        %td= cust_iti_request.destinations
        %td= cust_iti_request.vacation_type_id
        %td= cust_iti_request.start_date
        %td= cust_iti_request.end_date
        %td= cust_iti_request.no_of_adults
        %td= cust_iti_request.no_of_children
        %td=l cust_iti_request.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_cust_iti_request_path(cust_iti_request), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), cust_iti_request_path(cust_iti_request), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_cust_iti_request_path, :class => 'btn btn-primary'
