%title
  Your Request | Unwinders
%div{:style => 'margin-bottom:50px;margin-left:330px'}
  .wizard-steps
    .completed-step
      %a{:href => edit_cust_iti_request_path(:id => @cust_iti_request.id)}
        %span 1
        Request Package
    .active-step
      %a{:href => "#"}
        %span 2
        Summary
    %div
      %a{:href => "#"}
        %span 3
        Assign Consultants
.row
  .span4.box{:style => 'margin-left:80px'}
    .title
      Request Info
    .content
      - cust = @cust_iti_request
      .activity-header
        = "You have  requested a package for #{cust.destinations.reject(&:empty?).map {|s| Destination.find(s).name}.compact.join(", ")}  from #{cust.start_date} to #{cust.end_date} as a #{cust.dest_type} destination for #{cust.vacation_type.vac_type}."
        / =link_to "A D Vishnu Prasad" , "#"
        / = "requested a package on #{cust.created_at.strftime("%d-%B-%Y - %I:%M %p") }"
      %h4 Details
      .item-details
        %p
          %b Destination Type
          =cust.dest_type
        %p
          %b Destinations
          /=cust.destinations.compact
          =cust.destinations.reject(&:empty?).map {|s| Destination.find(s).name}.compact.join(", ") rescue 'NA'
        %p
          %b Vacation Type
          =cust.vacation_type.vac_type
        %p
          %b Start Date
          - if cust.start_date
            =cust.start_date.strftime("%d-%b-%y")
          -else
            = "NA"
        %p
          %b End Date
          - if cust.end_date
            =cust.end_date.strftime("%d-%b-%y")
          -else
            = "NA"
        %p
          %b No of People
          =cust.no_of_adults + cust.no_of_children rescue "NA"
          / =link_to "Request to All VC", '#', :class => ['btn btn-success']
        %br
  .span7.box
    .title
      .icon-cogs
      Assigned VC's for this request
    .content
      - unless cust.vc_assignments.empty?
        .row-fluid
          .span8
            - cust.vc_assignments.map do |vc|
              = vc.vacation_consultant.name
              |
              = vc.status
              %br
          .span4
            #assign-more.pull-right
              = link_to "Assign to more Consultants","/search_vcs?cust_req_id=#{cust.id}", :method => :get
      -else
        To assign the above request to specific vacation consultants, please click assign to see our panel of vacation consultants.
        =link_to "/search_vcs?cust_req_id=#{cust.id}", :method => :get, :class => 'btn' do
          Assign
        %br
