%title
  Unwinders | History
#history-tabs{:style => 'padding-bottom:80px'}
  .tabbable
    / Only required for left/right tabs
    - @details = @cust_iti_header.cust_iti_details
    %ul.nav.nav-tabs
      -@details.each_with_index do |d,index|
        -if index == 0
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab_#{index}", :style => 'width:200px;text-align:center;font-weight:bold;font-size:14pt;', :class => 'custom-tabs'}
              = d.destination.name
        -else
          %li
            %a{"data-toggle" => "tab", :href => "#tab_#{index}", :style => 'width:200px;text-align:center;font-weight:bold;font-size:14pt', :class => 'custom-tabs'}
              = d.destination.name
    .tab-content
      -@details.each_with_index do |d,index|
        -@comments = d.comments
        -if index == 0
          %div{:id => "tab_#{index}", :class => "tab-pane active"}
            .container
              .row-fluid{:style => 'margin-top:20px'}
                .well.span6.history-large-pic{:style => "background-image:url(#{d.destination.image.url});background-size:cover;background-repeat:no-repeat;padding-left:0px;padding-right:0px;padding-bottom:20px;border:5px solid white;"}
                  .history-image-info
                    .heading{:style => 'font-size:20px;padding-bottom:10px'}
                      = d.destination.name
                    = d.destination.description
                  .row.span4.offset4.history-image-info{:style => 'text-align:center'}
                    = d.dest_start_date.strftime("%d-%m-%y")
                    to
                    = d.dest_end_date.strftime("%d-%m-%y")
                  .row.span4.offset4.btn.btn-success.btn-large.comment-section
                    - @d = d
                    Trip Feedback?
                .well.span5
                  %p
                    %b{:style => 'color:#0A9B10;font-size:16pt' }
                      .icon-home.icon-large
                        = d.property.name
                  %div
                    - poa_details = d.iti_cust_dest_poa_details
                    - poa_details.each do |detail|
                      -if detail.points_of_attraction
                        .icon-star.icon-small
                          %b{:style => 'font-size:11pt'}
                            = detail.points_of_attraction.name
                        %rm{:style => 'font-size:7pt'}
                          (
                          = detail.preferred_time_of_arrival.strftime("%I:%M %p")
                          to
                          = detail.preferred_time_of_departure.strftime("%I:%M %p")
                          )
                        %br
                        %p
                          = detail.points_of_attraction.description
                        %br
                  .vc-hr
                  %br
                  %div{:id => "comments_#{index}"}
                    = render :partial => "comments_section", :locals => { :comments => @comments}
                  - @commentable = d
                  - @comment = Comment.new
                  = render :partial => "comments/form", :locals => {:index => index}
        -else
          %div{:id => "tab_#{index}", :class => "tab-pane"}
            .container
              .row-fluid{:style => 'margin-top:20px'}
                .well.span6.history-large-pic{:style => "background:transparent;background-image:url(#{d.destination.image.url});background-size:cover;background-repeat:no-repeat;padding-left:0px;padding-right:0px;padding-bottom:20px;border:5px solid white"}
                  .history-image-info
                    .heading{:style => 'font-size:20px;padding-bottom:10px'}
                      = d.destination.name
                    = d.destination.description
                  .row.span4.offset4.history-image-info{:style => 'text-align:center'}
                    = d.dest_start_date.strftime("%d-%m-%y")
                    to
                    = d.dest_end_date.strftime("%d-%m-%y")
                  .row.span4.offset4.btn.btn-success.btn-large.comment-section
                    - @d = d
                    Trip Feedback?
                .well.span5
                  %p
                    %b{:style => 'color:#0A9B10;font-size:16pt' }
                      .icon-home.icon-large
                        = d.property.name
                  %div
                    - poa_details = d.iti_cust_dest_poa_details
                    - poa_details.each do |detail|
                      -if detail.points_of_attraction
                        .icon-star.icon-small
                          %b{:style => 'font-size:11pt'}
                            = detail.points_of_attraction.name
                        %rm{:style => 'font-size:7pt'}
                          (
                          = detail.preferred_time_of_arrival.strftime("%I:%M %p")
                          to
                          = detail.preferred_time_of_departure.strftime("%I:%M %p")
                          )
                        %br
                        %p
                          = detail.points_of_attraction.description
                        %br
                  .vc-hr
                  %br
                  %div{:id => "comments_#{index}"}
                    = render :partial => "comments_section", :locals => { :comments => @comments}
                  - @commentable = d
                  - @comment = Comment.new
                  = render :partial => "comments/form", :locals => {:index => index}
  .picture-corner
    .row
      .span8
        #camera-image{:style => 'color:#27689b;font-size:34pt;font-weight:bold'}
          %img{:src => "#{asset_path("unwinders/picture_corner.png")}", :style => 'height:100px;margin-top:20px;margin-left:20px;margin-right:20px'} Picture Perfect
      .span2
        #new-photo.pull-right{:style => 'margin-top:50px'}
          .icon-camera
            = link_to "Add photo", "#"
    .row
      #trip-images
        .portfolio
          %ul#grid
            - @cust_iti_header.trip_images.each do |im|
              %li
                %a{:href => "#{im.image.url}", :rel => "facebox"}
                  %img{:src => "#{im.image.url(:square)}"}
                  - if im.caption.present?
                    .speech-bubble.hide
                      = im.caption


#add-image-modal.modal.hide.fade{"tabindex" => "-1"}
  .modal-header
    %a.close{"data-dismiss" => "modal"} x
    %h3 Add a new photo
  .modal-body
    .modal-rec-body
      - @cust_iti_header.trip_images.build
      = simple_form_for @cust_iti_header, :html => { :multipart => true, :class => 'form-horizontal' } do |f|
        - f.fields_for :trip_images do |builder|
          = ""
          - if builder.object.new_record?
            = builder.label :caption, "Image Caption"
            = builder.text_field :caption
            = builder.label :image, "Image File"
            = builder.file_field :image
            .modal-footer
              = f.submit "Add", :class => 'btn btn-primary'
              = link_to t('.cancel', :default => t("helpers.links.cancel")), destinations_path, :class => 'btn'

#comment-modal.modal.hide.fade{"tabindex" => "-1"}
  .modal-header
    %a.close{"data-dismiss" => "modal"} x
    %h3 How did you feel?
  .modal-body
    .modal-rec-body
      = form_tag "/cust_iti_details/customer_feedback" , :html => {:class =>'form-horizontal' } do
        = label_tag "Select Destination"
        = select_tag :cust_iti_detail_id, options_for_select(@details.collect{ |b| [b.destination.name, b.id] })
        = label_tag "What worked?"
        = text_area_tag :positive_comments
        = label_tag "What didn't?"
        = text_area_tag :negative_comments
        = label_tag "How can it be better?"
        = text_area_tag :suggestions
        .modal-footer
          = submit_tag "Submit Feedback", :class => 'btn btn-primary'
          %a.btn{"data-dismiss" => "modal", :href => "#"} Close