%title
  Unwinders | Review
- if @cust_iti_header.version == 1 && @cust_iti_header.state == "New"
  .row
    .well.span8.offset2{:style => 'text-align:center'}
      Your planner is still preparing your itinerary. Please wait...
- else
  #history-tabs
    .tabbable
      / Only required for left/right tabs
      / - @details = @cust_iti_header.cust_iti_details
      %ul.nav.nav-tabs
        -@orig_poa.each_with_index do |d,index|
          -if index == 0
            %li.active
              %a{"data-toggle" => "tab", :href => "#tab_#{index}", :style => 'width:200px;text-align:center;font-weight:bold;font-size:14pt;', :class => 'custom-tabs'}
                = d[:detail].destination.name
          -else
            %li
              %a{"data-toggle" => "tab", :href => "#tab_#{index}", :style => 'width:200px;text-align:center;font-weight:bold;font-size:14pt', :class => 'custom-tabs'}
                = d[:detail].destination.name
      .tab-content
        -@orig_poa.each_with_index do |d,index|
          -if index == 0
            %div{:id => "tab_#{index}", :class => "tab-pane active"}
              .container
                .row-fluid{:style => 'margin-top:20px'}
                  .well.span6.history-large-pic{:style => "background-image:url(#{d[:detail].destination.image.url});background-size:cover;background-repeat:no-repeat;padding-left:0px;padding-right:0px;padding-bottom:20px;border:5px solid white;"}
                    .history-image-info
                      .heading{:style => 'font-size:20px;padding-bottom:10px'}
                        = d[:detail].destination.name
                      = d[:detail].destination.description
                    .row.span4.offset4.history-image-info{:style => 'text-align:center'}
                      = d[:detail].dest_start_date.strftime("%d-%m-%y")
                      to
                      = d[:detail].dest_end_date.strftime("%d-%m-%y")
                    .row.span4.offset4.btn.btn-success.btn-large.comment-section
                      - @d = d
                      = link_to "Earlier versions", earlier_versions_cust_iti_header_path(@cust_iti_header), :style => 'color:white'
                  .well.span5.text-container
                    .text-content.short-text
                      %p
                        %b{:style => 'color:#0A9B10;font-size:16pt' }
                          .icon-home.icon-large
                            = d[:detail].property.name
                      %div
                        - poa_details = d[:poa]
                        - poa_details.each do |detail|
                          -if detail.points_of_attraction
                            .icon-star.icon-small
                              %b{:style => 'font-size:11pt'}
                                = detail.points_of_attraction.name
                            %rm{:style => 'font-size:7pt'}
                              (
                              = detail.preferred_time_of_arrival.strftime("%I:%M %p")
                              to
                              = detail.preferred_time_of_departure.strftime("%I:%M %p")
                              )
                            %br
                            Day
                            = detail.day_number
                            %p
                              = detail.points_of_attraction.description
                            -@comments = detail.comments
                            - if !@comments.empty?
                              %div{:id => "comments_#{detail.id}"}
                                = render :partial => "shared/comments_section", :locals => { :comments => @comments}
                            / - @commentable = detail
                            / - @comment = Comment.new
                            / = render :partial => "comments/form", :locals => {:index => detail.id}
                      .vc-hr
                      %br
                    .show-more
                      %a{:href => "#"} See more/Add Comments
          -else
            %div{:id => "tab_#{index}", :class => "tab-pane"}
              .container
                .row-fluid{:style => 'margin-top:20px'}
                  .well.span6.history-large-pic{:style => "background:transparent;background-image:url(#{d[:detail].destination.image.url});background-size:cover;background-repeat:no-repeat;padding-left:0px;padding-right:0px;padding-bottom:20px;border:5px solid white"}
                    .history-image-info
                      .heading{:style => 'font-size:20px;padding-bottom:10px'}
                        = d[:detail].destination.name
                      = d[:detail].destination.description
                    .row.span4.offset4.history-image-info{:style => 'text-align:center'}
                      = d[:detail].dest_start_date.strftime("%d-%m-%y")
                      to
                      = d[:detail].dest_end_date.strftime("%d-%m-%y")
                    .row.span4.offset4.btn.btn-success.btn-large.comment-section
                      - @d = d
                      = link_to "Earlier versions", earlier_versions_cust_iti_header_path(@cust_iti_header), :style => 'color:white'
                  .well.span5.text-container
                    .text-content.short-text
                      %p
                        %b{:style => 'color:#0A9B10;font-size:16pt' }
                          .icon-home.icon-large
                            = d[:detail].property.name
                      %div
                        - poa_details = d[:poa]
                        - poa_details.each do |detail|
                          -if detail.points_of_attraction
                            .icon-star.icon-small
                              %b{:style => 'font-size:11pt'}
                                = detail.points_of_attraction.name
                            %rm{:style => 'font-size:7pt'}
                              (
                              = detail.preferred_time_of_arrival.strftime("%I:%M %p")
                              to
                              = detail.preferred_time_of_departure.strftime("%I:%M %p")
                              )
                            %br
                            Day
                            = detail.day_number
                            %p
                              = detail.points_of_attraction.description
                            -@comments = detail.comments
                            - if !@comments.empty?
                              %div{:id => "comments_#{index}"}
                                = render :partial => "shared/comments_section", :locals => { :comments => @comments}
                            / - @commentable = detail
                            / - @comment = Comment.new
                            / = render :partial => "comments/form", :locals => {:index => index}
                            %br
                      .vc-hr
                      %br
                    .show-more
                      %a{:href => "#show-more-div"} See more/Add Comments
