- c = @cust_iti_header
%title
  = c.cust_iti_name
  | Itinerary
.row
  .span8.offset2
    %h1 Itinerary
    %table.table.table-striped{:style => 'text-align:center'}
      %tr
        %td Itinerary name
        %td
          = c.cust_iti_name
      %tr
        %td Customer
        %td
          = c.customer.name
      %tr
        %td Itinerary type
        %td
          = c.iti_type
      %tr
        %td Vacation type
        %td
          = c.vacation_type.vac_type
      %tr
        %td Start date
        %td
          = c.trip_start_date.strftime("%d %b 20%y")
      %tr
        %td End date
        %td
          = c.trip_end_date.strftime("%d %b 20%y")
      %tr
        %td Seasons
        %td
          = c.seasons
      %tr
        %td Duration
        %td
          = c.duration
          days
      %tr
        %td Adults
        %td
          = c.no_of_adults
      %tr
        %td Children
        %td
          = c.no_of_children
    %h2 Destination Details
    - c.cust_iti_details.each do |det|
      %h3
        = det.destination.name
      %table.table.table-condensed
        %tr
          %td From
          %td
            = det.dest_start_date.strftime("%d %b 20%y")
        %tr
          %td To
          %td
            = det.dest_end_date.strftime("%d %b 20%y")
        %tr
          %td Place of stay
          %td
            = det.property.name
      %h4
        POA Details
      - det.iti_cust_dest_poa_details.each do |poa|
        %h4
          = poa.points_of_attraction.name
        - poa.comments.each do |comment|
          = render 'comments/comment', :comment => comment
        %br
        %table.table.table-condensed
          %tr
            %td Day
            %td
              = poa.day_number
          %tr
            %td Arrival time
            %td
              = poa.preferred_time_of_arrival.strftime("%I:%M %p")
          %tr
            %td Departure time
            %td
              = poa.preferred_time_of_departure.strftime("%I:%M %p")

    - unless c.state == "Approved"
      = link_to "Edit", edit_cust_iti_header_path(c), :class => 'btn btn-info'
      = link_to "Delete", cust_iti_header_path(c), :method => :delete, :class => 'btn btn-danger'
    - if c.state == "New" || c.state == "Pending"
      = link_to "Publish", publish_cust_iti_header_path(c), :class => 'btn btn-success'
    - else
      = c.state
    = link_to "Earlier Versions", earlier_versions_cust_iti_header_path(@cust_iti_header)