.container
  .row-fluid{:style => 'display: none'}
    .well.span8
      .history-large-pic
        .history-image-info
          .heading{:style => 'font-size:20px;padding-bottom:10px'}
            Alappuzha
          Alappuzha is the most popular tourist attraction in Kerala. A houseboat cruise in these backwaters is a delightful experience. Alappuzha is also the access point for Annual Nehru Trophy Boat Race, held on the Punnamada Lake, one of the most popular of the boat races in India.
        .row.span4.offset4.history-image-info{:style => 'text-align:center'}
          19-07-2013 to 23-07-2013
    .span4.well
      - 4.times do |s|
        .row-fluid
          .span6
            %div{:id => "history-poa-"+Random.rand(100).to_s}
              = link_to "#" do
                = image_tag("unwinders/pondi_1.jpg", size: "160x90")
            .contenthover{:id => "#{Random.rand(100)}"}
              Poa Details with Time
          .span6
            #history-poa
              = link_to "#" do
                = image_tag("unwinders/pondi_1.jpg", size: "160x90")
            .contenthover{:id => "#{Random.rand(100)}"}
              Poa Details with Time
        %br
  .row-fluid
    .span12.well

