%title
  Unwinders | Sign in
.container{:style=> 'padding-left:0px'}
  .row
    .span12
      #cover-image
        .row
          .span3.box{:style => 'margin-top:300px;margin-left:450px;background:#F0F0F0'}
            - flash.each do |name, msg|
              = content_tag :div, msg.html_safe, :id => "flash_#{name}", :class => 'alert',:style => 'margin-bottom:0px' if msg.is_a?(String)
            .title{:style => 'font-weight:bold;font-size:14pt'}
              Sign in
            .content
              = form_tag user_session_path do
                %label E-Mail
                = text_field_tag 'user[email]'
                %label Password
                = password_field_tag 'user[password]'
                %br
                = check_box_tag 'user[remember_me]'
                = label_tag 'user[remember_me]', 'Remember me'
                %button.btn-primary Sign in
                %br
              = render "devise/shared/links"

