= simple_form_for @destination, :html => { :multipart => true, :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :description
  = f.file_field :image
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), destinations_path, :class => 'btn'
