%div{:style => "background:#1f1b20"}
  %center
    %table{:width => "588", :border => "0", :cellspacing => "10", :bgcolor => "#FFCC11", :cellpadding => "0", :height => "40", :style => "font-family:arial,helvetica,sans-serif;margin:0px;"}
      %tbody{:style => "padding:0px"}
        %tr{:style => "margin:0px;padding:0px"}
          %td{:align => "left"}
            %img{:src => "https://s3.amazonaws.com/dev.justbooksclc.com/strata_holidays/logo_2.png", :width => "100px", :height => "25px" }
          %td{:style => "min-height:40px;font-size:24px;line-height:24px;font-weight:bold;color:#1f1b20;"} New Request
  %center
    %table{:width => "588", :border => "0", :cellspacing => "10", :cellpadding => "0", :bgcolor => "#FFFFFF", :style => "font-family:arial,helvetica,sans-serif;margin:4px;min-height:300px;border:1px solid #ccc;"}
      %tbody
        %tr
          %td{:style => "min-height:40px;font-size:12px;line-height:19px;color:#000;vertical-align:top;", :valign => "top"}
            %p= "Dear #{@request.customer.name},"

            %p
              The following consultants have received your request for a holiday plan.
              %br Details are included here, for your reference.

            %p
              Request ID:
              %b= "#{@request.id}"
            %table{:width => "550", :border => "0", :cellspacing => "10", :cellpadding => "0", :bgcolor => "#FFFFFF", :style => "font-family:arial,helvetica,sans-serif;margin:4px;min-height:120px;border:1px solid #ccc;"}
              %tbody
                %tr
                  %td
                    %table.table.table-bordered.table-striped.table-hover
                      %tr
                        %td
                          Consultants:
                        %td
                          - @vc_ids.each do |id|
                            - vc = VacationConsultant.find(id)
                            = link_to "#{vc.name}", "http://localhost:5000/unwinders/vacation_consultant/#{id}"
                            -
                      %tr
                        %td
                          Destinations:
                        %td
                          = @request.destinations.reject(&:empty?).map {|s| Destination.find(s).name}.compact.join(", ") rescue 'NA'
                      %tr
                        %td
                          Start Date:
                        %td
                          = @request.start_date rescue "-"
                      %tr
                        %td
                          End Date:
                        %td
                          = @request.end_date rescue "-"
                      %tr
                        %td
                          No. of Adults:
                        %td
                          = @request.no_of_adults
                      %tr
                        %td
                          No. of Children:
                        %td
                          = @request.no_of_children rescue "-"
        %tr
          Please check your account for more details.