<%= form_for(@points_of_attraction) do |f| %>
  <% if @points_of_attraction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@points_of_attraction.errors.count, "error") %> prohibited this points_of_attraction from being saved:</h2>

      <ul>
      <% @points_of_attraction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.number_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_field :comments %>
  </div>
  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
