<h1>Listing points_of_attractions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Comments</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @points_of_attractions.each do |points_of_attraction| %>
      <tr>
        <td><%= points_of_attraction.name %></td>
        <td><%= points_of_attraction.type %></td>
        <td><%= points_of_attraction.comments %></td>
        <td><%= link_to 'Show', points_of_attraction %></td>
        <td><%= link_to 'Edit', edit_points_of_attraction_path(points_of_attraction) %></td>
        <td><%= link_to 'Destroy', points_of_attraction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Points of attraction', new_points_of_attraction_path %>
