%title
  = @points_of_attraction.destination.name
  |
  = @points_of_attraction.name
- destination = @points_of_attraction.destination
- @pic_url = destination.points_of_attractions.first.image.url
%link{:href => "http://fonts.googleapis.com/css?family=Kaushan+Script", :rel => "stylesheet", :type => "text/css"}
.container.dest-bg{:style => 'padding-left:0px;padding-right:0px'}
  .container{:style => 'padding-bottom:30px;padding-left:0px;padding-right:0px'}
    .row
      .span6
        .dest-header
          .polaroid
            %img{:src => @points_of_attraction.image.url}
            %p
              = @points_of_attraction.name
      .span6
        .description-body{:style => 'background:white;opacity:0.7;margin-right:10px;padding:10px;min-height:385px'}
          .dest-description
            %p
              = @points_of_attraction.description
          %b
          .carousel-header
            Location
          %br
          #dest-image
            %a{:href => destination_path(:id => destination.id)}
              %img{:src => "#{destination.image.url(:medium)}"}
                %p
                  = destination.name
    %br
    .row
      .span12
        -if current_user && current_user.admin?
          = link_to "See all POAs", points_of_attractions_path, :class => 'btn'
          = link_to t('.new', :default => t("helpers.links.new")), new_points_of_attraction_path, :class => 'btn'
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_points_of_attraction_path(@points_of_attraction), :class => 'btn'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), points_of_attraction_path(@points_of_attraction), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
