- model_class = ItiDestinationXref
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:iti_header_id) + ':'
  %br
  = @iti_destination_xref.iti_header_id
%p
  %strong= model_class.human_attribute_name(:destination_id) + ':'
  %br
  = @iti_destination_xref.destination_id
%p
  %strong= model_class.human_attribute_name(:destination_group_id) + ':'
  %br
  = @iti_destination_xref.destination_group_id
%p
  %strong= model_class.human_attribute_name(:dest_start_date) + ':'
  %br
  = @iti_destination_xref.dest_start_date
%p
  %strong= model_class.human_attribute_name(:dest_end_date) + ':'
  %br
  = @iti_destination_xref.dest_end_date
%p
  %strong= model_class.human_attribute_name(:season) + ':'
  %br
  = @iti_destination_xref.season
%p
  %strong= model_class.human_attribute_name(:duration) + ':'
  %br
  = @iti_destination_xref.duration
%p
  %strong= model_class.human_attribute_name(:no_of_people) + ':'
  %br
  = @iti_destination_xref.no_of_people

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), iti_destination_xrefs_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_iti_destination_xref_path(@iti_destination_xref), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), iti_destination_xref_path(@iti_destination_xref), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
