%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %nav-collpase.collapse
        %ul.nav.pull-right{:style => 'color:white'}
          %li= link_to "Destinations", destinations_path
          %li= link_to "POA", points_of_attractions_path
          %li= link_to "POA Types", poa_types_path
          %li= link_to "Properties", properties_path
          %li= link_to "Dest Iti Header", dest_iti_headers_path
          %li= link_to "Dest Iti Details", dest_iti_details_path
          %li= link_to "Cust Iti Header", cust_iti_headers_path
          %li= link_to "Cust Iti Details", cust_iti_details_path
          %li= link_to "Iti Cust Dest Poa Details",iti_cust_dest_poa_details_path
          / %li= link_to "Itinerary Header", iti_headers_path
          / %li= link_to "Itinerary Details", iti_details_path
          / %li= link_to "Iti Day Details", iti_day_details_path