%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %nav-collpase.collapse
        %ul.nav
          %li.active=link_to "Strata Holidays", root_path
        %ul.nav.pull-right{:style => 'color:white'}
          %li= link_to "Unwinders", unwinders_path
          %li.dropdown
            %a#dLabel.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Destination & POA
              %b.caret
            %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
              %li= link_to "Destinations", destinations_path
              %li= link_to "POA", points_of_attractions_path
              %li= link_to "POA Types", poa_types_path
              %li= link_to "Properties", properties_path
          %li.dropdown
            %a#dLabel.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Destination Iti
              %b.caret
            %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
              %li= link_to "Dest Iti Header", dest_iti_headers_path
              %li= link_to "Dest Iti Details", dest_iti_details_path
          %li.dropdown
            %a#dLabel.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Customer Iti
              %b.caret
            %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
              %li= link_to "Cust Iti Header", cust_iti_headers_path
              %li= link_to "Cust Iti Details", cust_iti_details_path
              %li= link_to "Iti Cust Dest Poa Details",iti_cust_dest_poa_details_path
          %li.dropdown
            %a#dLabel.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Cust & VC
              %b.caret
            %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
              %li=link_to "Customers", account_customers_path
              %li=link_to "VC Registrations", vc_registrations_path
              %li=link_to "VC", account_vacation_consultants_path
              %li=link_to "Mapping Table", consultant_customer_destinations_path
