!!!
%html
  %head
    %title Unwinders
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = stylesheet_link_tag "unwinders/application", :media => "all"
    = csrf_meta_tags
  %body{:style => 'padding-top: 0px;background:#1f1b10'}
    #banner
      %h1
    = yield
/     = render 'layouts/footer'
