!!!
%html
  %head
    %title Unwinders
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = stylesheet_link_tag "unwinders/application", :media => "all"
    = csrf_meta_tags
  %body{:style => 'padding-top: 0px;background:#1f1b10'}
    .container
      - flash.each do |name, msg|
        = content_tag :div, msg.html_safe, :id => "flash_#{name}", :class => 'alert', :style => 'margin-bottom:0px' if msg.is_a?(String)
    #banner1
      %h1
    #page-content.container
      = yield
/     = render 'layouts/footer'
