!!!
%html
  %head
    = stylesheet_link_tag "application", :media => "all" if @body_id != "home"
    = stylesheet_link_tag "unwinders/application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:id => "list", :style => 'padding-top: 0px;background:#1f1b20'}
    .container
      - flash.each do |name, msg|
        = content_tag :div, msg.html_safe, :id => "flash_#{name}", :class => 'alert', :style => 'margin-bottom:0px' if msg.is_a?(String)
      #banner
        %h1
          %a{:href => "/"} JustBooks
        #menu
          .container{:style => 'min-height:42px'}
            %h2.branch_name
              = current_user.name rescue ""
        #submenu
          %ul
            - if current_user
              %li= link_to "Home", user_unwinders_path
            - else
              %li= link_to "Home", root_path
            /%li= link_to "VC", vc_unwinders_path(:id => 1)
            - if current_user
              - if current_user.user_type == User::CUSTOMER
                %li= link_to "Profile", customer_path(:id => current_user.customer.id)
              - elsif current_user.user_type == User::VC
                %li= link_to "Profile", vacation_consultant_path(:id => current_user.vacation_consultant.id)
              %li= link_to "Sign Out", destroy_user_session_path
            - else
              %li= link_to "Sign In", user_session_path
              %li= link_to "Sign up", user_session_path
            /%li= link_to "About Us", '#'
            /%li= link_to "Contact Us", '#'
      /= render :partial => 'flash', :object => flash
      .container{:style => 'background:#fff;padding:0px;min-height:550px'}
        = yield
      %center#footer
        Strata Holidays &copy; 2013
/ :javascript
/   Sessionapp.ChartData["#{"infovis"}"] = #{raw generate_jit_tree().to_json};
/ = javascript_tag :defer => 'defer' do
/   $(document).ready(function () {
/   JitTree.showJit();
/   });
#my-modal.modal.hide.fade{"tabindex" => "-1"}
  .modal-header
    %a.close{"data-dismiss" => "modal"} x
    %h3 Choose Vacation Consultant
  .modal-body
    .modal-rec-body
    .modal-rec-body-results
  .modal-footer
    / = link_to "Done" , "#" , :class => 'btn btn-primary'
    %a.btn{"data-dismiss" => "modal", :href => "#"} Close

:css
  .container.dest-bg{
    background-image: url("#{@pic_url}");
    padding-left:0px;
    padding-right:0px;
    background-size:cover;
    background-repeat:no-repeat;
  }