!!!
%html
  %head
    %title Strata Holidays
    = stylesheet_link_tag "application", :media => "all" if @body_id != "home"
    = stylesheet_link_tag "unwinders/application", :media => "all"
    / = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
  %body{:id => "#{@body_id}", :style => 'padding-top: 0px;'}
    #banner
      %h1
        %a{:href => "/"} JustBooks
      #menu
        #search
          %input{:name => "search", :type => "text"}/
        =yield :menu
      #submenu
        %ul
          %li= link_to "Signin", "#"
          %li= link_to "Signup", "#"
          %li= link_to "Destinations", '#'
          %li= link_to "About Us", '#'
          %li= link_to "Contact Us", '#'
    / = render :partial => 'flash', :object => flash
    = yield
    %center#footer
      Strata Holidays &copy; 2013
      = javascript_include_tag "application"
/ :javascript
/   Sessionapp.ChartData["#{"infovis"}"] = #{raw generate_jit_tree().to_json};
/ = javascript_tag :defer => 'defer' do
/   $(document).ready(function () {
/   JitTree.showJit();
/   });