= simple_form_for @iti_day_detail, :html => { :class => 'form-horizontal' } do |f|
  = f.association :iti_header, :include_blank => false
  = f.input :day_number
  = f.association :points_of_attraction, :include_blank => false
  = f.input :start_time
  = f.input :end_time
  = f.input :comments
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), iti_day_details_path, :class => 'btn'
